* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: start;

  width: 100%;
  height: 100vh;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.phone img {
  height: 50rem;
}

.more {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  width: 50%;
  min-height: 34rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  padding: 1.3rem 0;
  margin-top: 0.5rem;
  border: 1px dashed lightgray;
}

.container:nth-child(1) {
  min-width: 19rem;
}

.logo {
  height: 3rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar img {
  height: 18rem;
}
